html {
    --pink: #ff00d4;
    --black: #000000;
    --blue: #0000ff;
    --maxWidth: 1000px;
    --bs: 0 12px 24px 0 rgba(0, 0, 0, 0.09);
    box-sizing: border-box;
    font-size: 10px;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2;
}
a {
    text-decoration: none;
    color: var(--pink);
}
a:hover {
    text-decoration: underline;
    color: var(--pink);
}
button {
    font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.dark-mode {
   color: white;
    background-color: black;
  }

